<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center"> Recently Added Posts</h1>
        <% @posts.each do |post| %>
            <% if post.user.id == current_user.id %>
              <h2 class="text-center"> Welcome, <%= post.user.user_name %></h2>
            <% end %>
        <% end %>
       
        <%= paginate @posts %>
        <ul class="list-unstyled">
            <% @posts.each do |post| %>
                <%= render 'post', post: post %>
            <% end %>
        </ul>
    </div>
</div>