<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center"> Recently Added Posts</h1>

        <h2 class="text-center"> Welcome, <%= current_user.user_name %></h2>

       
        <%= paginate @posts %>
        <ul class="list-unstyled">
            <% @posts.each do |post| %>
                <%= render 'post', post: post %>
            <% end %>
        </ul>
    </div>
</div>